  /* Section Selector Styles*/



  /* Section Class Styles */

  .buttonMoonImage {
    background-image: url(./images/Moon_Background.png);
    background-size: cover;
    background-position: center;
  }


  .cheeseMinerBackground {
    background-image: url(./images/Galaxy_Background.png);
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    font-size: 1.5em;
  }


  .matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
  }